[submodule "lke-example/themes/ananke"]
	path = lke-example/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "containers/justsotech-com/themes/hugo-theme-codex"]
	path = containers/justsotech-com/themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
